@model ReservationApp.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
          Employee's Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
           Employee's First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reservations)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Current/Past Reservation</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Client Last Name</th>
                    <th>Client First Name</th>
                </tr>
                @foreach (var item in Model.Reservations)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(ModelItem => item.ReservationID)
                        </td>
                        <td>
                            @Html.ValueFor(ModelItem => item.Date, "{0:dd/MM/yyyy}")
                        </td>
                        <td>
                           @Html.ValueFor(ModelItem => item.Time, "{0:hh:ss tt}")
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem => item.Client.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem => item.Client.FirstName)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
